h1{
    color: lightgreen;
    font-size: 4rem;
}
h1:hover{
    color: lightcoral;
}
h2{
    color: lightblue;
    font-size: 2rem;
}
h2:hover{
    color: lightpink;
}

img{
    border: 1px solid pink;
    border-radius: 50%;
}
p{color: lightgreen;
font-size: 2rem;}